name: Update pyproject.toml with a given tag

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
        description: "The Semantic Versioning GitHub tag used for version control"
      # Optional
      uv_version:
        required: true
        type: string
      app-id:
        required: true
        type: string
    secrets:
      private-key:
        required: true
      private_pypi_user:
        required: true
      private_pypi_password:
        required: true

jobs:
  update-pyproject-toml:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate GitHub App token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ inputs.app-id }}
          private-key: ${{ secrets.private-key }}

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ inputs.uv_version }}
          enable-cache: true

      - name: Bump pyproject.toml version to ${{ inputs.tag }}
        run: |
          export UV_INDEX_REPOWERED_USERNAME=${{ secrets.private_pypi_user }}
          export UV_INDEX_REPOWERED_PASSWORD=${{ secrets.private_pypi_password }}
          VERSION="${{ inputs.tag }}"
          VERSION="${VERSION#v}"  # Remove leading 'v' if present
          uv version ${{ inputs.tag }}
          git config user.name "${{ steps.app-token.outputs.app-slug }}[bot]"
          git config user.email "${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com"
          git add pyproject.toml || true
          git commit -m "Automated version bump to $VERSION [skip ci]" || echo "No changes to commit"

      - name: Push changes
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: git push origin HEAD:${GITHUB_REF_NAME}
