name: Deploy sphinx documentation (UV)

on:
  workflow_call:
    inputs:
      uv_version:
        type: string
        required: true
      tag:
        description: "The Semantic Versioning GitHub tag used for version control"
        type: string
        required: true
      docs_target:
        description: "The directory where the package's documentation will be deployed (e.g. /home/repowered/docs/<package name>/)"
        type: string
        required: true

      # Optional
      docs_host:
        type: string
        default: docs.repowered.nl
      docs_port:
        type: number
        default: 22
      docs_user:
        type: string
        default: repowered
      docs_source:
        type: string
        default: docs/_build/html

    secrets:
      private_pypi_user:
        required: true
      private_pypi_password:
        required: true
      docs_ssh_private_key:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      # - name: Generate GitHub App token
      #   uses: actions/create-github-app-token@v2
      #   id: app-token
      #   with:
      #     app-id: ${{ inputs.app-id }}
      #     private-key: ${{ secrets.private-key }}

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: UV and Python Setup
        uses: repowerednl/.github/composite-actions/python-uv-cache@main
        with:
          uv_version: ${{ inputs.uv_version }}
          private_pypi_user: ${{ secrets.private_pypi_user }}
          private_pypi_password: ${{ secrets.private_pypi_password }}
          enable_cache: true

      - name: Install dependencies & update version to semantic
        run: |
          uv sync --group docs --all-extras
          uv version ${{ inputs.tag }}

      - name: Fetch "docs/" folder from shared .github repo & copy missing files
        run: |  # Fetch shallow copy for speed, makedir 'docs' if it doesnt exist, then copy only missing files (--archive & --verbose: -av)
          git clone --depth=1 https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/repowerednl/.github.git /tmp/gh-shared
          mkdir -p docs
          rsync -av --ignore-existing /tmp/gh-shared/configuration-files/sphinx-docs/docs/ ./docs/

      - name: Build documentation for ${{ inputs.docs_target }} version ${{ inputs.tag }}
        run: |
          cd docs
          uv run python pre.py --logging=info
          uv run make html --logging=info
          uv run python post.py --logging=info

      - name: Deploy documentation to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ inputs.docs_host }}
          port: ${{ inputs.docs_port }}
          username: ${{ inputs.docs_user }}
          key: ${{ secrets.docs_ssh_private_key }}
          source: ${{ inputs.docs_source }}
          target: ${{ inputs.docs_target }}
          strip_components: 3 # remove the docs/_build/html part from the path
