name: Create Release after Deploy to Main

on:
  workflow_call:
    inputs:
      tag:
        description: "The Semantic Versioning GitHub tag used for version control"
        required: true
        type: string

jobs:
  release:
    # if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tagged commit
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate GitHub Release
        uses: release-drafter/release-drafter@v6
        with:
          tag: ${{ inputs.tag }}
          name: ${{ github.event.repository.name }} ${{ inputs.tag }}
          config-name: release-drafter.yml
          publish: true                                        # publish instead of draft
          latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
